<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SYS_DEPARTMENT -->
<mapper namespace="com.jiang.sys.dao.SysDepartmentDao">
    <!-- 结果映射 -->
    <resultMap id="sysDepartmentMap" type="com.jiang.sys.domain.SysDepartment">
            <id column="ID" property="id" jdbcType="INTEGER" />
            <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
            <result column="CREATER" property="creater" jdbcType="VARCHAR" />
            <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIME" />
            <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_CODE" property="departmentCode" jdbcType="VARCHAR" />
            <result column="PARENT_DEPARTMENT_CODE" property="parentDepartmentName" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_ABBREVIATION" property="departmentAbbreviation" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_TYPE" property="departmentType" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_CONTACT_PHONE" property="departmentContactPhone" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_CONTACT_PERSON" property="departmentContactPerson" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_CONTACT_ADDRESS" property="departmentContactAddress" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_ORDER" property="departmentOrder" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_ADMINISTRATIVE_DIVISIONS" property="departmentAdministrativeDivisions" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_LONGITUDE" property="departmentLongitude" jdbcType="VARCHAR" />
            <result column="DEPARTMENT_LATITUDE" property="departmentLatitude" jdbcType="VARCHAR" />
            <result column="TREE_PATH" property="treePath" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 结果映射 -->
    <resultMap id="sysDepartmentTreeMap" type="com.jiang.sys.domain.SysDepartmentTreeNode">
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="CREATER" property="creater" jdbcType="VARCHAR" />
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIME" />
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_CODE" property="departmentCode" jdbcType="VARCHAR" />
        <result column="PARENT_DEPARTMENT_CODE" property="parentDepartmentCode" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_ABBREVIATION" property="departmentAbbreviation" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_TYPE" property="departmentType" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_CONTACT_PHONE" property="departmentContactPhone" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_CONTACT_PERSON" property="departmentContactPerson" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_CONTACT_ADDRESS" property="departmentContactAddress" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_ORDER" property="departmentOrder" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_ADMINISTRATIVE_DIVISIONS" property="departmentAdministrativeDivisions" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_LONGITUDE" property="departmentLongitude" jdbcType="VARCHAR" />
        <result column="DEPARTMENT_LATITUDE" property="departmentLatitude" jdbcType="VARCHAR" />
        <result column="TREE_PATH" property="treePath" jdbcType="VARCHAR" />
    </resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, CREATE_TIME, CREATER, MODIFY_TIME, MODIFIER, 
        DEPARTMENT_CODE, PARENT_DEPARTMENT_CODE, DEPARTMENT_NAME, DEPARTMENT_ABBREVIATION, DEPARTMENT_TYPE,
        DEPARTMENT_CONTACT_PHONE, DEPARTMENT_CONTACT_PERSON, DEPARTMENT_CONTACT_ADDRESS, DEPARTMENT_ORDER, DEPARTMENT_ADMINISTRATIVE_DIVISIONS, 
        DEPARTMENT_LONGITUDE, DEPARTMENT_LATITUDE, TREE_PATH
    </sql>
    
    <!-- 查询所有数据 -->
    <select id="findSysDepartmentAll" resultMap="sysDepartmentMap">
        SELECT
        <include refid="allColumns" />
        FROM SYS_DEPARTMENT
    </select>

    <!-- 查询所有数据 -->
    <select id="findSysDepartmentTree" resultMap="sysDepartmentTreeMap">
        SELECT
        <include refid="allColumns" />
        FROM SYS_DEPARTMENT
    </select>

    <!-- 插入数据 -->
    <insert id="insertSysDepartment" parameterType="com.jiang.sys.domain.SysDepartment">
        <selectKey keyProperty="id" resultType="long" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO SYS_DEPARTMENT (<include refid="allColumns" />)
        VALUES (
        #{id},
        #{createTime},
        #{creater},
        #{modifyTime},
        #{modifier},
        #{departmentCode},
        #{parentDepartmentCode},
        #{departmentName},
        #{departmentAbbreviation},
        #{departmentType},
        #{departmentContactPhone},
        #{departmentContactPerson},
        #{departmentContactAddress},
        #{departmentOrder},
        #{departmentAdministrativeDivisions},
        #{departmentLongitude},
        #{departmentLatitude},
        #{treePath}
        )
    </insert>

    <!-- 修改数据 -->
    <update id="updateSysDepartment" parameterType="com.jiang.sys.domain.SysDepartment">
        UPDATE SYS_DEPARTMENT SET
        CREATE_TIME = #{createTime},
        CREATER = #{creater},
        MODIFY_TIME = #{modifyTime},
        MODIFIER = #{modifier},
        DEPARTMENT_CODE = #{departmentCode},
        PARENT_DEPARTMENT_CODE = #{parentDepartmentCode},
        DEPARTMENT_NAME = #{departmentName},
        DEPARTMENT_ABBREVIATION = #{departmentAbbreviation},
        DEPARTMENT_TYPE = #{departmentType},
        DEPARTMENT_CONTACT_PHONE = #{departmentContactPhone},
        DEPARTMENT_CONTACT_PERSON = #{departmentContactPerson},
        DEPARTMENT_CONTACT_ADDRESS = #{departmentContactAddress},
        DEPARTMENT_ORDER = #{departmentOrder},
        DEPARTMENT_ADMINISTRATIVE_DIVISIONS = #{departmentAdministrativeDivisions},
        DEPARTMENT_LONGITUDE = #{departmentLongitude},
        DEPARTMENT_LATITUDE = #{departmentLatitude},
        TREE_PATH = #{treePath}
        WHERE ID = #{id}
    </update>

    <!-- 根据主键删除数据 -->
    <delete id="deleteSysDepartmentById" parameterType="string">
        DELETE FROM SYS_DEPARTMENT WHERE ID = #{id}
    </delete>

</mapper>